<template id="weaponMastery-template">
  <div class="col-12 d-none" id="outercont">
    <div class="block block-rounded-double bg-combat-inner-dark weaponMasteryContainer" id="weaponMasteryContainer">
      <img class="weaponMasteryBgIcon " id="weaponMasteryBgIcon">
      <div class="weaponMasteryTop block-header block-header-default bg-dark-bank-block-header px-3 py-1">
        <h5 id="weaponMasteryTitle" class="font-size-sm font-w600 mb-0">
          Weapon Mastery 
        </h5>
        <div class="block-options font-w600 font-size-sm text-right text-combat-smoke mb-0">
          <img class="skill-icon-xxs mr-1 weapontypeicon" id="weaponMasteryIcon">
          <rielk-lang-string lang-id="MENU_TEXT_TYPE"></rielk-lang-string>

        </div>
      </div>
      <div class="weaponMasteryBgContainer" id="weaponMasteryBgContainer">
        <div class="weaponMasteryMenu ">
          <div class="row no-gutters p-2">
            <div class="col-12">
              <h5 id="weaponMasteryText" class="font-w900 font-size-md text-combat-smoke pt-2 text-center"
                style="margin-bottom:1rem;"></h5>
              <div id="weaponMasteryItem"
                class="weapon-mastery-item d-flex justify-content-center align-items-center mb-3">
                <div class="bg-dark-bank-block-header d-flex info-icon align-items-center border-item"
                  style="margin-top: -6px; width:64px; height:64px; border-radius: 15px">
                  <img id="weaponPic" class="weapon-pic p-2 icon-size-48" style="width:64px; height:64px;">
                </div>
                <div id="weaponInfo" class="weapon-info d-flex flex-column ml-2">
                  <span id="weaponName" class="weapon-name font-w600 font-size-sm text-combat-smoke"></span>
                  <span id="weaponRank" class="weapon-rank font-w600 font-size-sm"></span>
                </div>
              </div>

              <!-- XP Bars -->
              <div id="weaponXPBar" class="singular-weapon-xp-bar progress mb-2" style="height:6px">
                <div id="weaponXpFill" class="singular-weapon-xp-fill" style="width: 40%;"></div>
              </div>
              <!-- New section for unlocked weapon modifier -->
              <div id="unlockedWeaponMod" class="text-center d-none">
                <div class="font-w600 font-size-xs text-combat-smoke">Unlocked Weapon Modifier(s):</div>
                <div id="weaponModifierValue" class="font-size-sm text-white text-center m-1">
                </div>
              </div>
              <div  id="weaponXPNumber" class = "text-center font-size-xs font-w600 mb-3 text-center d-none font-italic">
                         </div>

              <h5 class="font-w600 font-size-sm text-combat-smoke pt-1 pb-4 text-center">
                Type Proficiency:
              </h5>
              <div class="mastery-weapon-xp-container  pb-3 pt-10r">
                <div class="mastery-weapon-xp-bar progress" id="weaponMasteryBar">
                  <div class="mastery-weapon-xp-fill" id="weaponMasteryProgress" style="width: 0%;"></div>

                  <div class="mastery-weapon-xp-overfill" id="weaponMasteryOverfill" style="width: 0%;"></div>

                  <div id="marker-1" class="xp-marker" style="left: 7%;">
                    <span id="label-1" class="xp-label font-w600 font-size-sm text-combat-smoke">1</span>
                  </div>
                  <div id="marker-2" class="xp-marker" style="left: 20%;">
                    <span id="label-2" class="xp-label font-w600 font-size-sm text-combat-smoke">2</span>
                  </div>
                  <div id="marker-3" class="xp-marker" style="left: 40%;">
                    <span id="label-3" class="xp-label font-w600 font-size-sm text-combat-smoke">3</span>
                  </div>
                  <div id="marker-4" class="xp-marker" style="left: 65%;">
                    <span id="label-4" class="xp-label font-w600 font-size-sm text-combat-smoke">4</span>
                  </div>
                  <div id="marker-5" class="xp-marker" style="left: 95%;">
                    <span id="label-5" class="xp-label font-w600 font-size-sm text-combat-smoke">5</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row no-gutters d-flex justify-content-center" id="weaponMasteryStepsContainer">
          <div class="d-flex justify-content-center align-items-center fas weaponMasteryStepsButton"
            id="weaponMasteryStepsButton"><span class="arrow"></span></div>
          <div class="weaponMasteryModifiers collapsed font-w700 font-size-sm" id="weaponMasteryModifiers">
            <div class="col-12 mb-1 dropdown-divider"></div>
            <div id="lock1" class="mx-auto align-items-center lockIcon"></div>
            <div class="col-12 mb-1 d-flex flex-column align-items-center modifierHolder" id="modifierStep1"></div>

            <div class="col-12 mb-1 dropdown-divider"></div>
            <div id="lock2" class=" mx-auto align-items-center lockIcon"></div>
            <div class="col-12 mb-1 d-flex flex-column align-items-center modifierHolder" id="modifierStep2"></div>

            <div class="col-12 mb-1 dropdown-divider"></div>
            <div id="lock3" class=" mx-auto align-items-center lockIcon"></div>
            <div class="col-12 mb-1 d-flex flex-column align-items-center modifierHolder" id="modifierStep3"></div>

            <div class="col-12 mb-1 dropdown-divider"></div>
            <div id="lock4" class=" mx-auto align-items-center lockIcon"></div>
            <div class="col-12 mb-1 d-flex flex-column align-items-center modifierHolder" id="modifierStep4"></div>

            <div class="col-12 mb-1 dropdown-divider"></div>
            <div id="lock5" class=" mx-auto align-items-center lockIcon"></div>
            <div class="col-12 mb-1 d-flex flex-column align-items-center modifierHolder" id="modifierStep5"></div>
            <div id="modifierSpacer" style="height:0;"></div>

          </div>
        </div>
        <div class="weaponMasteryCap block-header bg-dark-bank-block-header fuck-you" id="weaponMasteryCap"></div>
      </div>
    </div>
  </div>
  </div>
</template>